<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% extends 'base.html' %}

    {% block title %}Login{% endblock %}
    
    {% block content %}
        <div class="container">
            <h1>Log In</h1>
            <form method="POST" action="/login">
                {{ form.hidden_tag() }}  <!-- This includes the CSRF token -->
                {{ form.username.label }} 
                {{ form.username(size=32) }}  <!-- Render username input -->
                
                {{ form.password.label }}
                {{ form.password(size=32) }}  <!-- Render password input -->
            
                <button type="submit">Login</button>
            </form>
            <p>Don’t have an account? <a href="{{ url_for('routes.register') }}">Register</a></p>
            <p>Forgot Password? <a href="{{ url_for('routes.request_password_reset') }}">Reset Password</a></p>
        </div>
    {% endblock %}
</body>
</html>
